{% extends "base.html" %}
{% block content %}
<h1>{{ data.form_group_id }}</h1>
{% for field in data.fields %}
<section class="field">
    <h2>{{ field.field_label }}</h2>
    <div class="response">
        <div class="response-meta">
            {{ student.name }} | {{ time.day }} {{ time.strftime('%B %Y, %I:%M%p UTC') }}
        </div>
        {% if field.response_text %}
        <div class="response-text">{{ field.response_text | e }}</div>
        {% else %}
        <div class="response-text"><em>No response provided.</em></div>
        {% endif %}
    </div>
</section>
{% endfor %}
{% endblock %}
